<!DOCTYPE html>
<html>
<head>
    <title>OpenSourceFit</title>
</head>
<body>

    <h1>OpenSourceFit</h1>

    <form method="POST">
        <label>Repository:</label>
        <input type="text" name="repo" placeholder="owner/repo">

        <br><br>

        <label>Skills:</label>
        <input type="text" name="skills" placeholder="Python, Flask">

        <br><br>

        <button type="submit">Analyze</button>
    </form>

    <hr>

<h2>Input Received</h2>

<p><b>Repository:</b> {{ repo }}</p>
<p><b>Skills:</b> {{ skills }}</p>

{% if result %}

<hr>

<h2>Repository Analysis</h2>

<p><b>Difficulty:</b> {{ result.difficulty }}</p>
<p><b>Beginner Score:</b> {{ result.beginner_score }}/100</p>
<p><b>Language:</b> {{ result.language }}</p>
<p><b>Stars:</b> {{ result.stars }}</p>
<p><b>Description:</b> {{ result.description }}</p>
<p><b>Open Issues:</b> {{ result.open_issues }}</p>

<h2>Top Matches</h2>

{% for rec in result.recommendations %}

<p>
<b>{{ rec.match }}% Match</b><br>
{{ rec.title }}<br>
<a href="{{ rec.link }}" target="_blank">View on GitHub</a>
</p>

{% endfor %}

{% endif %}

</body>
</html>